mirror_to_github:
  stage: deploy
  only:
    - branches
    - tags
  script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp $GITHUB_DEPLOY_KEY ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - git remote add github git@github.com:MohamedElashri/bu2lambdapKK.git || true
    - git push github --all --force
    - git push github --tags --force
